.b-thumbnail-wrapper
{
	position: fixed;
	bottom: 0;

	overflow-x: auto;
	overflow-y: none;
	
	margin-left: -8px;
	padding: 5px 0;
	
	width: 100%; 

	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 5px #fff;
	white-space: nowrap;
	
	opacity: 0;

	/*-webkit-animation-name: 'movement';
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: easy-out;
    
    animation-name: 'movement';
    animation-duration: 1s;
    animation-timing-function: easy-out;

	@-webkit-keyframes 'movement' {
	    from {
		    bottom: -100px;
	    	-webkit-animation-timing-function: easy-in-out;
	    }
	    50% {
		    bottom: -50px;
	    }
	    to {
		    bottom: 0;
	    }  
	}

	@keyframes 'movement' {
	    from {
		    bottom: -100px;
	    	-webkit-animation-timing-function: easy-in-out;
	    }
	    50% {
		    bottom: -50px;
	    }
	    to {
		    bottom: 0;
	    }  
	}*/
}
