.b-thumbnail-wrapper_visible_yes
{
	opacity: 1.0;

	/*-webkit-animation-name: 'movement';
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: easy-out;
    
    animation-name: 'movement';
    animation-duration: 1s;
    animation-timing-function: easy-out;

	@-webkit-keyframes 'movement' {
	    from {
		    bottom: 0;
	    	-webkit-animation-timing-function: easy-in-out;
	    }
	    50% {
		    bottom: -50px;
	    }
	    to {
		    bottom: -100px;
	    }  
	}

	@keyframes 'movement' {
	    from {
		    bottom: 0;
	    	-webkit-animation-timing-function: easy-in-out;
	    }
	    50% {
		    bottom: -50px;
	    }
	    to {
		    bottom: -100px;
	    }  
	}*/
}
